footer.main-footer
    .main-footer__main
        .d-flex.justify-content-between
            div
                div.main-footer__email
                    a(href="mailto@hello@mail.com") hello@mail.com
                div.main-footer__phone
                    a(href="tel:+79999999999") +7 999 999 99 99
            div
                div.main-footer__address
                    span Москва, <br>ул. Ленина 21
    .divider
    .main-footer__bootom
        .d-flex.justify-content-between
            div
                div.main-footer__copyright
                    span © 2008–2020 Xdol
            div
                div.main-footer__social
                    a.main-footer__social-link.main-footer__social-link--vk(href="javascript:void(0)")
                    a.main-footer__social-link.main-footer__social-link--fb(href="javascript:void(0)")
                    a.main-footer__social-link.main-footer__social-link--instagram(href="javascript:void(0)")
                    a.main-footer__social-link.main-footer__social-link--youtube(href="javascript:void(0)")