header.main-header
    .d-flex.justify-content-between
        .main-header__logo
            img(src="img/logo.svg", alt="")
        .main-header__menu
            menu
                li
                    a.active(href="javascript:void(0)") Компания
                li
                    a(href="javascript:void(0)") Услуги
                li
                    a(href="javascript:void(0)") Проекты
                li
                    a(href="javascript:void(0)" data-toggle="modal" data-target="#staticBackdrop") Контакты
include ../includes/modal.pug