header
    .d-flex.justify-content-between
        .logo
            img(src="img/logo.svg", alt="")
        .menu
            menu
                li
                    a.active(href="javascript:void(0)") Компания
                li
                    a(href="javascript:void(0)") Услуги
                li
                    a(href="javascript:void(0)") Проекты
                li
                    a(href="javascript:void(0)") Контакты