include ../mixins/further.pug
doctype html
html(lang="ru")
    include ../includes/head.pug
    body
        .noise
        include ../includes/header.pug
        main.main-content(style="position:relative")
            .container
                .row
                    .col-12
                        .main-content__home-link
                            a.default-link.default-link-1.arrow-left(href="/dist/" data-css="default-link-1") 
                                include ../includes/arrows.pug
                                span На главную
                        .main-content__heading.main-content__heading--image
                            h1.heading__page-title JPMorgan Chase
                            .image
                                img(src="./uploads/JPMC.png", alt="")
                            .divider
                        .main-content__content
                            .detail-content
                                .detail-content--block
                                    .row
                                        .col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3
                                            .detail-content--block--title.text-x-secondary
                                                span Ситуация
                                        .col-12.col-sm-12.col-md-12.col-lg-9.col-xl-9
                                            .detail-content--block--body
                                                p Разработка устройств под задачу: основа, назначение,<br> техническая документация, реализация прототипа SoC, микрокомпьютеры, датчики, камеры, системы AR\VR,<br> носимая электроника в числе партнеров: Xilinx, Seeed Studio, MYIR, Tsmc и другие
                                                p Разработка программного обеспечения под<br> создаваемое оборудование (в том числе, и существующее оборудование) включая анализ и низкоуровневую оптимизацию под железо
                                .detail-content--block
                                    .row
                                        .col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3
                                            .detail-content--block--title.text-x-secondary
                                                span Решение
                                        .col-12.col-sm-12.col-md-12.col-lg-9.col-xl-9
                                            .detail-content--block--body
                                                p Система информационной безопасности, действующая в здании администрации Ставрополя, нуждалась в модернизации. Необходимо было учесть все изменения, которые ввел регулятор. Руководство города анонсировало проведение открытых торгов.
                                                p В ходе конкурентной борьбы победу одержала компания XDOL, обладающая уникальной отраслевой экспертизой. Всем своим клиентам XDOL готова предоставить ПО и услуги, покрывающие весь периметр информационной безопасности и обеспечивающие максимальную защиту от всех видов киберугроз.
                                                p Компания усиливает профессиональную команду, постоянно расширяет портфель решений и сервисов, увеличивает количество проектов, связанных с перспективным направлением SOC.
                                .detail-content--block
                                    .row
                                        .col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3
                                            .detail-content--block--title.text-x-secondary
                                                span Результаты
                                        .col-12.col-sm-12.col-md-12.col-lg-9.col-xl-9
                                            .detail-content--block--body
                                                p На следующем этапе проекта компания «Безопасные информационные технологии», выступающая многолетним партнером XDOL, провела аттестацию усовершенствованной системы. Эксперты пришли к выводу, что она полностью соответствует всем требованиям законодательства в области защиты информации. Теперь в течение года специалисты обеих компаний будут заниматься комплексным техническим обслуживанием системы.
                                                            
            +further('/dist/feedback.html', 'Начать проект')

















        include ../includes/footer.pug