include ../mixins/further.pug
doctype html
html(lang="ru")
    include ../includes/head.pug
    body
        .noise
        include ../includes/header.pug
        main.main-content(style="position:relative")
            .container
                .row
                    .col-12
                        .main-content__home-link
                            a.default-link.default-link-1.arrow-left(href="/dist/" data-css="default-link-1") 
                                include ../includes/arrows.pug
                                span На главную
                        .main-content__plug
                        .main-content__info.main-content__info-v1
                            .row
                                .col-12
                                    .main-content__info--title
                                        span Введение
                                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                                    .main-content__info--item
                                        h2 Компания основана выходцами из Microsoft
                                        p.text-x-secondary Более 80% сотрудников — выпускники МГУ,<br> МФТИ, ВШЭ и ШАД Яндекса с опытом работы<br> в крупнейших ИТ-корпорациях
                                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                                    .main-content__info--item
                                        h3 В штате более 30 высококлассных специалистов с компетенциями
                                        ul.ul--default
                                            li Data Science
                                            li Python
                                            li Java
                                            li Data Engineering
                                            li Frontend (Angular, React, Vue) и др.
                                        a(href="/dist/services.html").default-link 
                                            include ../includes/arrows.pug
                                            span Услуги
                        .main-content__info.main-content__info-v2
                            .row
                                .col-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
                                    .main-content__info--title
                                        span Наш подход
                                .col-12.col-sm-12.col-md-6.col-lg-5.col-xl-5
                                    .main-content__info--item
                                        h3 Гибкая инфраструктура
                                        p.text-x-secondary Определяем компоненты системы совместно с Заказчиком, интегрируем решения с существующими системами как внутри технологического контура Заказчика, так и в облаке, в зависимости от пожеланий
                                .col-12.col-sm-12.col-md-6.col-lg-5.col-xl-5
                                    .main-content__info--item
                                        h3 Развитие компетенций
                                        p.text-x-secondary При необходимости помогаем заказчику сформировать и вырастить внутреннюю компетенцию в требуемой области: от обучения сотрудников использованию системы до помощи в найме и построению внутренней<br> команды        
                                .col-12.col-sm-12.col-md-6.col-lg-5.col-xl-5.offset-lg-2.offset-xl-2
                                    .main-content__info--item
                                        h3 Заказчики с любым уровнем экспертизы
                                        p.text-x-secondary Успешно работаем как c компаниями с сильной внутренней экспертизой в области искусственного интеллекта, так и c компаниями, запускающими с нами первые проекты по анализу и обработке больших массивов данных
                                .col-12.col-sm-12.col-md-6.col-lg-5.col-xl-5
                                    .main-content__info--item
                                        h3 Никаких «чёрных ящиков»
                                        p.text-x-secondary Используем открытый стек технологий что позволяет Заказчику при желании самостоятельно развивать решение вместо работы с «чёрными ящиками»
                        
                        .main-content__listclient
                            .main-content__listclient-title.text-center
                                h2 Клиенты
                            .main-content__listclient-list
                                .row
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/JPMC.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/Intel.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/IBM.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/Microsoft.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/UT.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/Microsoft.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/Intel.png", alt="").img-fluid
                                    .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                                        .main-content__listclient-item.d-flex.align-items-center.justify-content-center
                                            img(src="./uploads/JPMC.png", alt="").img-fluid
            +further('/dist/services.html', 'Подробнее об услугах')
        include ../includes/footer.pug