doctype html
html(lang="ru")
  include ../includes/head.pug
  body
    include ../includes/header.pug
    main.main-content(style="position:relative")
      .container
        .row
          .col-3
          .col-12
            .main-content__home-link
              a.default-link(href="javascript:void(0)") 
                <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.2422 12.5859L18.6484 9V8.15625L26.2422 4.57812V6.11719L20.7422 8.58594L26.2422 11.0469V12.5859ZM17.5078 12.5859L9.91406 9V8.15625L17.5078 4.57812V6.11719L12.0078 8.58594L17.5078 11.0469V12.5859ZM8.77344 12.5859L1.17969 9V8.15625L8.77344 4.57812V6.11719L3.27344 8.58594L8.77344 11.0469V12.5859Z" fill="#121C26"/>
                  <path d="M31 8H58" stroke="#121C26" stroke-width="1.4"/>
                </svg>
                span На главную
            .main-content__heading
              h1.heading__page-title Ключевые направления
            .divider
            .main-content__content
              .services
                .services__item
                  .services__item-title
                    h3 Облачные решения и виртуализация, реализация любых сценариев
                  .services__item-content
                    ul
                      li
                        span Развертывание и интеграция решений любых «облаков» : Azure, AWS, GCP, AliCloud, Huawei Cloud, Tencent Cloud, Digital Ocean, Яндекс Облако
                      li
                        span Развертывание и интеграция виртуализации на базе : KVM, VMWARE, Hyper-V, OpenStack, OpenShift, AzureStack, Nutanix
                      li
                        span Развертывание и внедрение Managed Services : Docker, Kubernetes, Database etc
                .services__item
                  .services__item-title
                    h3 Разработка концептов устройств
                  .services__item-content
                    ul
                      li
                        span Разработка устройств под задачу: основа, назначение, техническая документация, реализация прототипа SoC, микрокомпьютеры, датчики, камеры, системы AR\VR, носимая электроника в числе партнеров: Xilinx, Seeed Studio, MYIR, Tsmc и другие
                      li
                        span Разработка программного обеспечения под создаваемое оборудование (в том числе, и существующее оборудование) включая анализ и низкоуровневую оптимизацию под железо
                .services__item
                  .services__item-title
                    h3 Машинное обучение и глубокий анализ данных
                  .services__item-content
                    ul
                      li
                        span Обработка любых данных : от структурированных баз до NoSQL дампов
                      li
                        span Применение существующих моделей оптимальным образом
                      li
                        span Разработка и обучение собственных моделей под задачу
                .services__item
                  .services__item-title
                    h3 Разработка интеграционных решений с обеспечением защиты
                  .services__item-content
                    ul
                      li
                        span Детализированный анализ задачи и разработка концепта обмена
                      li
                        span Разработка регламента обмена и хранения
                      li
                        span Подготовка требований к защите передаваемой информации
                      li
                        span Реализация решения
                .services__item
                  .services__item-title
                    h3 Аудит ИТ инфраструктуры и безопасности
                  .services__item-content
                    ul
                      li
                        span Аудит текущего состояния ИТ инфраструктуры и решений
                      li
                        span Аудит лицензирования
                      li
                        span Аудит безопасности
                      li
                        span Подготовка рекомендаций по оптимизации
                      li
                        span Внедрение DLP
                      li
                        span Разработка внутренних регламентов для пользователей
                      li
                        span Разработка регламентов обращения с данными
                .services__item
                  .services__item-title
                    h3 Разработка промышленных решений под ключ
                  .services__item-content
                    ul
                      li
                        span ERP
                      li
                        span WMS
                      li
                        span СКУД
                      li
                        span Мониторинг социальной дистанции
                      li
                        span Тепловизоры и идентификация
                      li
                        span Безопасность
                      li
                        span Узлы управления сетями



















    include ../includes/footer.pug