doctype html
html(lang="ru")
  include ../includes/head.pug
  body
    include ../includes/header.pug
    main(style="position:relative")
      .container(style="height: 1000px;background: aquamarine;")
    include ../includes/footer.pug