doctype html
html(lang="ru")
    include ../includes/head.pug
    body
        include ../includes/header.pug
        main.main-content(style="position:relative")
            .container
                .row
                    .col-12
                        .main-content__home-link
                            a.default-link.default-link-1.arrow-left.anime-svg-arrows(href="/dist/" data-css="default-link-1") 
                                include ../includes/arrows.pug
                                span На главную
                        .main-content__heading
                            h1.heading__page-title Проекты
                            .divider
                        .main-content__content
                            .catalog-project
                                .catalog-project__filter
                                    .catalog-project__filter--selects
                                        .catalog-project__filter--selects-item
                                            .form-group.form-group--style-default
                                                label(for="") Отрасли
                                                select.select
                                                    option(value="1" selected) Все
                                                    option(value="2") value 2
                                                    option(value="3") value 3
                                        .catalog-project__filter--selects-item
                                            .form-group.form-group--style-default
                                                label(for="") Партнеры
                                                select.select
                                                    option(value="1") value 4
                                                    option(value="2") value 5
                                                    option(value="3") value 6
                                        .catalog-project__filter--selects-item
                                            .form-group.form-group--style-default
                                                label(for="") Направления
                                                select.select
                                                    option(value="1") value
                                                    option(value="2") value
                                                    option(value="3") value
                                    .catalog-project__filter--btn-group.d-flex.flex-wrap
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span 
                                                    span Кибербезопасность
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span Решения Microsoft
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span IT-инфраструктура
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span Бизнес-решения
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span Гибридное облако
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span Программно-аппаратный комплекс «Умные каски»
                                        .catalog-project__filter-btn
                                            a(href="javascript:void(0)").btn-x-default 
                                                span Техническая поддержка и аутсорсинг
                                .catalog-project__catalog
                                    .catalog-project__catalog-row
                                        .catalog-project__catalog--item
                                            .catalog-project__catalog--item-body
                                                a(href="/dist/case.html")
                                                    img(src="./uploads/project1.png", alt="").img-fluid
                                            .catalog-project__catalog--item-actions
                                                .catalog-project__catalog--item-type
                                                    span.text-x-secondary Внедрение защиты
                                                .catalog-project__catalog--item-name
                                                    div.arrow
                                                        <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="#121C26"/>
                                                        </svg>
                                                    a(href="/dist/case.html") JPMorgan Chase
                                        .catalog-project__catalog--item
                                            .catalog-project__catalog--item-body
                                                a(href="/dist/case.html")
                                                    img(src="./uploads/project3.png", alt="").img-fluid
                                            .catalog-project__catalog--item-actions
                                                .catalog-project__catalog--item-type
                                                    span.text-x-secondary Разработка регламента обмена и хранения
                                                .catalog-project__catalog--item-name
                                                    div.arrow
                                                        <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="#121C26"/>
                                                        </svg>
                                                    a(href="/dist/case.html") United Technologies
                                        .catalog-project__catalog--item
                                            .catalog-project__catalog--item-body
                                                a(href="/dist/case.html")
                                                    img(src="./uploads/project5.png", alt="").img-fluid
                                            .catalog-project__catalog--item-actions
                                                .catalog-project__catalog--item-type
                                                    span.text-x-secondary Внедрение защиты
                                                .catalog-project__catalog--item-name
                                                    div.arrow
                                                        <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="#121C26"/>
                                                        </svg>
                                                    a(href="/dist/case.html") JPMorgan Chase
                                    .catalog-project__catalog-row
                                        .catalog-project__catalog--item
                                            .catalog-project__catalog--item-body
                                                a(href="/dist/case.html")
                                                    img(src="./uploads/project2.png", alt="").img-fluid
                                            .catalog-project__catalog--item-actions
                                                .catalog-project__catalog--item-type
                                                    span.text-x-secondary Разработка регламента обмена и хранения
                                                .catalog-project__catalog--item-name
                                                    div.arrow
                                                        <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="#121C26"/>
                                                        </svg>
                                                    a(href="/dist/case.html") United Technologies
                                        .catalog-project__catalog--item
                                            .catalog-project__catalog--item-body
                                                a(href="/dist/case.html")
                                                    img(src="./uploads/project4.png", alt="").img-fluid
                                            .catalog-project__catalog--item-actions
                                                .catalog-project__catalog--item-type
                                                    span.text-x-secondary Внедрение защиты
                                                .catalog-project__catalog--item-name
                                                    div.arrow
                                                        <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="#121C26"/>
                                                        </svg>
                                                    a(href="/dist/case.html") JPMorgan Chase
                                        .catalog-project__catalog--item
                                            .catalog-project__catalog--item-body
                                                a(href="/dist/case.html")
                                                    img(src="./uploads/project6.png", alt="").img-fluid
                                            .catalog-project__catalog--item-actions
                                                .catalog-project__catalog--item-type
                                                    span.text-x-secondary Разработка регламента обмена и хранения
                                                .catalog-project__catalog--item-name
                                                    div.arrow
                                                        <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="#121C26"/>
                                                        </svg>
                                                    a(href="/dist/case.html") United Technologies

            .block-further
                .block-further--btn
                    a(href="/dist/feedback.html").btn.btn-x-default.btn-x-default-light.btn-arrow-right.btn-lg
                        span Начать проект
                        .arrow
                            <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.757814 8.58594L8.35156 5L8.35156 4.15625L0.757813 0.578125L0.757813 2.11719L6.25781 4.58594L0.757813 7.04687L0.757814 8.58594ZM9.49219 8.58594L17.0859 5L17.0859 4.15625L9.49219 0.578124L9.49219 2.11719L14.9922 4.58594L9.49219 7.04687L9.49219 8.58594Z" fill="white"/>
                            </svg>

















        include ../includes/footer.pug