doctype html
html(lang="ru")
  include ../includes/head.pug
  body
    .noise
    include ../includes/header.pug
    main.main-content(style="position:relative")
        .container
            .row
                .col-12
                    <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path class="arrow1" d="M8.58594 9.49219L5 17.0859L4.15625 17.0859L0.578125 9.49219L2.11719 9.49219L4.58594 14.9922L7.04687 9.49219L8.58594 9.49219Z" fill="#121C26"/>
                        </g>
                        <g>
                            <path d="M8.58594 0.757813L5 8.35156L4.15625 8.35156L0.578125 0.757813L2.11719 0.757813L4.58594 6.25781L7.04687 0.757813L8.58594 0.757813Z" fill="#121C26"/>
                        </g>
                    </svg>
                    <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path id="svg_3" d="m2.158829,8.360982c0,0 -1.553378,0 -1.560385,-0.013271c0.007007,0.013271 3.590909,-7.577969 3.583278,-7.591241c0.007631,0.013271 0.864433,0.013271 0.862641,0c0.005255,0 3.577638,7.591241 3.570007,7.577969c0.007631,0.013271 -1.532595,0.013271 -1.539482,0c0.010687,0 -2.460849,-5.481088 -2.46848,-5.49436c0.007631,0.013271 -2.447578,5.520902 -2.447578,5.520902z" fill-opacity="null" stroke-opacity="null" stroke-width="null" stroke="null" fill="#121C26"/>
                            <path id="svg_4" d="m2.104103,17.117308c0,0 -1.55338,0 -1.56039,-0.01327c0.00701,0.01327 3.59091,-7.57797 3.58328,-7.59124c0.00763,0.01327 0.86444,0.01327 0.86264,0c0.00526,0 3.57764,7.59124 3.57001,7.57797c0.00763,0.01327 -1.5326,0.01327 -1.53948,0c0.01068,0 -2.46085,-5.48109 -2.46848,-5.49436c0.00763,0.01327 -2.44758,5.5209 -2.44758,5.5209z" fill-opacity="null" stroke-opacity="null" stroke-width="null" stroke="null" fill="#121C26"/>
                        </g>
                    </svg>