@import '_fonts'
@import '_vars'

a
    color: $color--secondary
    &:hover
        color: $color--main
    &.default-link
        svg
            margin-right: 8px
            @media screen and (max-width: 1330px + 12px)
                width: 52px
        span
            position: relative
            top: 2px
.divider
    border: 1px solid #D0D2D4

.container
    @include media-breakpoint-down(md)
        padding-left: 20px
        padding-right: 20px

.main-content
    padding-top: 68px
    @media screen and (max-width: 1330px + 12px)
        padding-top: 19px
    .main-content__content
        margin-top: 80px
        @include media-breakpoint-down(md)
            margin-top: 48px
.main-content__home-link
    margin-bottom: 108px
    @media screen and (max-width: 1330px + 12px)
        margin-bottom: 40px
    a
        font-size: rem(16)
        line-height: rem(16)
        @media screen and (max-width: 1330px + 12px)
            font-size: rem(14)

.main-content__heading
    margin-bottom: 54px
    @media screen and (max-width: 1330px + 12px)
        margin-bottom: 29px
    .heading__page-title
        margin: 0px
        color: #000
        font-size: rem(40)
        line-height: rem(50)
        font-weight: 500
        @media screen and (max-width: 1330px + 12px)
            font-size: rem(24)
            line-height: rem(32)