@import '_fonts'
@import '_vars'

a
    color: $color--secondary
    font-size: rem(16)
    line-height: rem(16)
    @include media-breakpoint-down(md)
        font-size: rem(14)
    &:hover
        color: $color--main
    &.default-link
        svg
            transform: rotate(180deg)
            margin-right: 8px
            @media screen and (max-width: 1330px + 12px)
                width: 52px
        span
            position: relative
            top: 2px
        &.arrow-left
            svg
                transform: rotate(0deg)
h2
    font-size: rem(40)
    line-height: rem(50)
    color: $color--main
    letter-spacing: -0.2px
    margin-bottom: 32px
    @include media-breakpoint-down(md)
        font-size: rem(24)
        line-height: rem(32)
        margin-bottom: 23px
h3
    font-size: rem(30)
    line-height: rem(40)
    color: $color--main
    // margin-bottom: 32px
    margin-bottom: 24px
    @include media-breakpoint-down(md)
        font-size: rem(18)
        line-height: rem(30)
        margin-bottom: 16px

p
    font-size: rem(16)
    line-height: rem(28)
    color: $color--main
    @include media-breakpoint-down(md)
        font-size: rem(14)
        line-height: rem(26)

.text-x-secondary
    color: $color--secondary
    
ul
    list-style: none
    padding-left: 0px
    margin-bottom: 42px
    li
        font-size: 16px;
        line-height: 28px;
        color: $color--main
        margin-bottom: 16px
        @include media-breakpoint-down(md)
            font-size: rem(14)
            line-height: rem(26)
            margin-bottom: 14px
    
    
    
    
    
.divider
    border: 1px solid #D0D2D4

.container
    @include media-breakpoint-down(md)
        padding-left: 20px
        padding-right: 20px


button
    &:focus
        outline: none