@import '_fonts'
@import '_vars'
@import "~bootstrap/scss/bootstrap";
@import 'owl.carousel/dist/assets/owl.carousel.css';
@import 'owl.carousel/dist/assets/owl.theme.default.css';

@import '_base'

/* всегда в конце */
@import '_media'


@import 'main/btn'
@import 'main/header'
@import 'main/footer'
@import 'main/modal'
@import 'main/form'
@import 'main/content'
@import 'main/content_heading'
@import 'main/content_home'
@import 'main/content_info'
@import 'main/services'
@import 'main/block-further'
@import 'main/listclient'
@import 'main/catalog-project'
@import 'main/detail'
@import 'main/feedback'
@import 'main/mini-project'
@import 'main/owl'
@import 'main/main-page'
body
    // letter-spacing: -0.2px
    color: $color--main
    background: #E5E5E5
    font-family: Klein
    font-weight: 400